@font-face {
	font-family: iranyekanwebbold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebbold.eot');
	src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanweblight;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iranyekanweblight.eot');
	src: url('../fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanwebregular;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregular.eot');
	src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}


@font-face {
	font-family: iranyekanwebbold_FaNum;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebbold_FaNum.eot');
	src: url('../fonts/eot/iranyekanwebbold_FaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebbold_FaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebbold_FaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebbold_FaNum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanweblight_FaNum;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iranyekanweblight_FaNum.eot');
	src: url('../fonts/eot/iranyekanweblight_FaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanweblight_FaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanweblight_FaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanweblight_FaNum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanwebregular_FaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregular_FaNum.eot');
	src: url('../fonts/eot/iranyekanwebregular_FaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebregular_FaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebregular_FaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebregular_FaNum.ttf') format('truetype');
}

@font-face {
	font-family: Yekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/Yekan.eot');
	src: url('../fonts/eot/Yekan.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/Yekan.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/Yekan.ttf') format('truetype');
}