body {
    font-family: "iranyekanweb";
}

.font-en {
    font-family: "Courier New";
}

.cmd-title {
    font-size: 2rem !important;
	font-family: "Courier New";

}

.cmd-code {
    direction: ltr;
}

.cmd-desc {
	font-family: "IRANSansWeb";
    font-size: 1.3rem;
}

.cmd-code-desc {

}

.ltr {
    direction: ltr;
}

a{
	font-size: .7rem;
}